body {
    background: darkgray;
    font-family: 'Girassol', cursive;
}

img {
    opacity: 0.6;
}

.nav-wrapper {
    background: linear-gradient(270deg, #000000, #07285f, #0f4e8a);
    background-size: 600% 600%;

    animation: AnimationName 8s ease infinite;
}

.sidenav {
    background: darkgray;
}

.card {
    background: linear-gradient(270deg, #000000, #07285f, #0f4e8a);
    background-size: 600% 600%;

    animation: AnimationName 8s ease infinite;
}

.page-footer {
    background: linear-gradient(270deg, #000000, #07285f, #0f4e8a);
    background-size: 600% 600%;

    animation: AnimationName 8s ease infinite;
}

.buttons {
    background: linear-gradient(270deg, #000000, #07285f, #0f4e8a);
    background-size: 600% 600%;

    animation: AnimationName 8s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.card .card-reveal {
    background: darkgray;
    color: white;
}

.card .card-title {
    color: white;
}

.card p {
    color: white;
}

.brand-logo {
    margin-left: 5px;
}

.footer-text ul li a{
    font-size: 15px;
    color: var(--textcolor);
}

.footer-text a:hover {
    color: rgb(88, 85, 85);
}

h3 {
    font-weight: bolder;
}

.cryptonite {
    color: black;
}

.emailbot {
    font-size: large;
}